/* 
style.css
*/
table {
    width: 90%;
    margin: 0 auto;
}


th {
    background-color: teal;
}

tr:nth-child(2n+1) {
    background-color: whitesmoke;
}

tr:nth-child(2n) {
    background-color: grey;
}

tr:nth-child(2n+1):hover{
    background-color: rgb(25, 189, 218);
  }
  
  tr:nth-child(2n):hover{
    background-color: rgb(255, 13, 194);
  }

