.flag-box {
    float: left;
    width: 33.33%;
}

.flag-box table {
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}


/* germany flag */

.germany:nth-child(n) {
    background-color: black;
}

.tr-germany:nth-child(n+4) .germany:nth-child(n) {
    background-color: red;
}

.tr-germany:nth-child(n+7) .germany:nth-child(n) {
    background-color: yellow;
}


/* italy flag */

td.italy:nth-child(n) {
    background-color: green;
}

td.italy:nth-child(n+4) {
    background-color: white;
}

td.italy:nth-child(n+7) {
    background-color: red;
}


/* germany to italy hover */

#germany:hover td.germany:nth-child(n) {
    background-color: green;
}

#germany:hover td.germany:nth-child(n+4) {
    background-color: white;
}

#germany:hover td.germany:nth-child(n+7) {
    background-color: red;
}


/* italy to france */

#italy:hover td.italy:nth-child(n) {
    background-color: blue;
}

#italy:hover td.italy:nth-child(n+4) {
    background-color: white;
}

#italy:hover td.italy:nth-child(n+7) {
    background-color: red;
}


/* USA flag */

#usa {
    color: white;
}

tr:nth-last-of-type(odd) {
    background-color: red;
}


/* blue square */

.flag {
    background-color: blue;
    text-align: center;
}


/* USA to Italy */

#usa:hover {
    color: transparent;
}

#usa:hover td:nth-child(n) {
    background-color: green;
}


/* Italy white columns on hover */

#usa:hover td:nth-child(n+4) {
    background-color: white;
}


/* Italy red columns on hover */

#usa:hover td:nth-child(n+7) {
    background-color: red;
}