/**
* style.css
*
* Make a ChessBoard
*
*/

td {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    }
    
    tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
      background: orange;
    }
    tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
      background: black;
    }
    