*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    height: 4vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: yellow;
}

footer {
    height: 4vh;
    position: fixed;
    border: 1px solid red;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: aqua;
}

#main {
    height: 92vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.column {
    width: 40%;
    height: inherit;
    float: left;
    border: 1px dashed black;
}

.column:last-child {
    text-align: center;
    padding: 2%;
}

#sidebar {
    width: 20%;
    background-color: orange;
}

#column1 figure {
    width: 100%;
    margin: 0;
    padding: 2%;
    position: relative;
}

#column1 figcaption {
    position: absolute;
    top: 4%;
    background-color: lawngreen;
    font-size: 3vw;
}

#column1 img {
    width: 100%;
}